@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #283ced;
  font-family: "Lato";
}
.logo {
  color: white;
  font-size: 40px;
  margin: 10px 20px;
  font-family: "Lato";
  cursor: pointer;
}
.contact {
  color: white;
  margin: 10px 20px;
  font-size: 30px;
  border-style: solid;
  padding: 3px 5px;
  border-width: 2px;
  border-radius: 5px;
  cursor: pointer;
}
.contact:hover {
  background-color: #4658fa;
}
header ul {
  color: white;
  font-size: 30px;
  display: flex;
  list-style-type: none;
  float: right;
}
header ul li {
  margin: 10px 20px;
  padding: 4px;
  cursor: pointer;
}
header ul li:hover {
  background-color: #4658fa;
  border-radius: 5px;
}
header a {
  text-decoration: none;
  color: inherit;
}
